<div class="btn-group" style="text-align: center; background-color: grey; padding: 10px;" role="group" aria-label="Basic example">
    <a href="/productsForm"><button type="button" class="btn btn-primary">Cargar producto</button></a>
    <a href="/products"><button type="button" class="btn btn-primary">Ver productos</button></a>
  </div>